<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :text, required: true, autofocus: true %>
    <% unless @session_id.nil? %>
    	<%= f.hidden_field :session_id, :value => @session_id %>
    <% end %>
    <%= f.hidden_field :author, :value => current_user.username %>

  </div>
</br>
  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>