<h1>Member requests</h1>
<% unless @sessions.nil? or @sessions.count == 0%>
<table>
    <thead>
        <tr>
            <th>Messages</th>
            <th>Last Update</th>
            <th>Options</th>
        </tr>
    </thead>

    <tbody>
      
        <% @sessions.each do |session| %>
            <tr>
                <td>
                    <% session.messages.each do |message| %>
                        <div class="name"><%= message.author %>:</div>
                        <%= message.text %> </br> </br>
                    <% end %>
                </td>
                <td><%= session.updated_at %></td>
                <td><%= link_to 'Respond', new_message_path(:session_id => session.id) %></td>
            </tr>
        <% end %>

      
    </tbody>
</table>
<% else %>
    <fieldset>
        No queries for you at the moment</br>
    </fieldset>
<% end %>

</br>
<div class="links">
    <%= link_to 'Home', root_url %> |
    <%= link_to 'Active Chats', chat_active_index_path %>
</div>