<script type="text/javascript">
    $(function() {
    $('#member_name').autocomplete({
            minLength: 2,
            source: '<%= users_path(:json) %>',
            focus: function(event, ui) {
                $('#member_name').val(ui.item.username);
                return false;
            },
            select: function(event, ui) {
                $('#member_name').val(ui.item.username);
                $('#member_id').val(ui.item.id);
                return false;
            }
        })
    .data("ui-autocomplete")._renderItem = function(ul, item) {
            return $("<li>")
            .data( "ui-autocomplete-item", item )
                .append("<a>" + item.username + "</a>")
                .appendTo(ul);
        };
    });
    </script>



<h1>Active chats</h1>
<% if current_user.is_trainer %>
<div class="form-inputs">
    <%= form_tag(chat_active_index_path, :method => 'get') do %>
    <%= text_field_tag :member_name, 'Search for a member' %>
    <%= hidden_field_tag :member_id %>
    <%= submit_tag 'Go', class:'button' %>
    <%= link_to 'Show all', chat_active_index_path %>
    <% end %>
</br>
</div>
<% end %>
<% unless @sessions.nil? or @sessions.count == 0%>
<table>
    <thead>
        <tr>
            <th>Messages</th>
            <th>Last Update</th>
            <th colspan=2>Options</th>
        </tr>
    </thead>

    <tbody>
      
        <% @sessions.each do |session| %>
            <tr>
                <td>
                    <% session.messages.each do |message| %>
                        <div class="name"><%= message.author %>:</div>
                        <%= message.text %> </br> </br>
                    <% end %>
                </td>
                <td><%= session.updated_at %></td>
                <td><%= link_to 'Respond', new_message_path(:session_id => session.id) %></td>
                <td><%= link_to 'Terminate', edit_chat_active_path(:id => session.id) %></td>
            </tr>
        <% end %>
      
    </tbody>
</table>
<% else %>
    <fieldset>
        No active chats at the moment.</br>
    </fieldset>
<% end %>

</br>
<div class="links">
    <%= link_to 'Home', root_url %> |
    <%= link_to "Inactive Chats", chat_inactive_index_path %>
</div>